// variable.scss

// 主题色
$color-primary: #25d4d0;
$color-primary-dark: #20a6af;

$color-warning: #fe6063;
$color-warning-dark: #fe6f63;

$color-white: #fff;
$color-white-dark: #12121f;

$color-text-default: #474747;
$color-text-default-dark: #686881;
